{% extends 'homepage.html' %}

{% block content %}

<h3 style="display:flex; justify-content: center;">Where will we go ?</h3>
<form method="post">{% csrf_token %}
    {% for field in address_form %}
        <p style="display:flex; justify-content: center;">
            {{field.label_tag}}
            {{field}}

            {% if field.help_text %}
                <small style="color: grey;">{{help_text}}</small>
            {% endif %}
            {% for error in field.errors %}
                        <p style="color: red;">{{error}}</p>
            {% endfor %}

        </p>
    {% endfor %}
    <button style="display:block; margin:0 auto;" type="submit">Confrim</button>
</form>

{% endblock content %}